<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- Optional JavaScript; choose one of the two! -->
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css" />
            
       
        <title>Corretora</title>
    </head>
<style>
    .cinza{
        background-color:grey;
        color:white
    }
    .branco{
        background-color: white;
        color:black;
    }
    .branco1{
        color:white;
    }
.orange{
     background-color:#4682B4;
     color:white;
     
     text-decoration:none; 
 }
 .orange1{
     background-color:#4682B4;
     color:white;
     font-size:12px;
 }
 .orange1:hover{
     transition:1s;
     font-size:12px;
     background-color:rgb(23, 63, 196);
     color:white;
     text-decoration:none; 
 }
 label{
     font-size:12px;
 }
 .preto1{
    background-color:black;
 }
 .preto{
     background-color:black;
     color:white;
     font-size:14px;
 }
 .preto:hover{
     transition:.5s;
     color:black;
     background-color:white;
 }
</style>



<body>
   
    <div class='row '>
        <div class='col-md-3 preto1'>
            <img src='../static/img/brasao.png' class='img-fluid' >
        
        </div>
        <div class='col-md-9 preto1'>
            <h1 class="branco1">Policia Civil do Estado de SP</h1><br>
           
            <a href='/consulta' class="btn preto">consulta</a>
            <a href='/' class="btn preto">cadastro</a>
            <a href='/inicio' class="btn preto">verificação</a>
            <a href='/historico' class="btn preto">histórico</a>
            </div>
           
            </div>
            <div class="container">
   <div class="row">
       <div class="col-md-12">
           
           
           <center>
            <h3>Cadastro de RFID</h3>
            <br><br><br>
            <label>Insira o cartao da pessoa</label><br>
               <input type="text" id="cpf1" name="cpf" >
               <br><br>
               <button type="button" id='btn11' onclick="muda()" class="btn" style="background-color: #4651e4;color:white" >Observar rfid</button>
                <br><br>
                <label id="rfid"> </label><br><br>
               <button type="button"  id="enviar1" class="btn btn-primary" >Pesquisar cartão</button>
                <br><br>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalrespostacadastro">
                    Inserir cartão rfid
                  </button>
                  <br><br>
                  
            </center>
           <br><br>
  
       </div>
   </div>
  
    <div class="row">
        <div class="col-md-12">
        <center>
            <h3>Resultados</h3>
            <br><br>
            <div id="resultado">

            </div><br><br>
            <div id="resultado2">

            </div><br><br>
            <div id='revela'>
                <input type="text" id="cpf1"><label>Insira o rg novo</label><br><br>
                <input type="text" id="codigonovo"><label>Codigo novo, caso deseje atualizar</label><br><br>
                <button type="button"  id="deletar2" class="btn btn-danger" >Deletar</button>&nbsp; &nbsp;
                &nbsp; &nbsp;&nbsp; &nbsp;
                <button type="button"  id="atualizar2" class="btn btn-primary" >Atualizar</button>
              </div>
              <br><br><br>
           
        </center>
    
        </div>
        </div>
    </div>
    
</body>
</html>
<div class="modal" tabindex="-1" role="dialog" id="modalrespostacadastro">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
            <h5 class="modal-title" id="exampleModalLongTitle">Inserir o cartão rfid</h5>
            <button type="button" class="close" data-dismiss="modal" id="fechar" aria-label="Close">
            
        </div>
        <div class="modal-body">
            <input type="number" maxlength="11" id="cpfcadastra"><label>Cpf:</label><br><br>
            <input type="text" id="nome"><label>Nome</label><br><br>
            <input type="text" id="setor"><label>Setor</label><br><br>
            <input type="text" id="telefone"><label>Telefone</label><br><br>
            <input type="text" id="cargo"><label>Cargo</label><br><br>
            <input type="text" id="codigo"><label>Codigo</label><br><br>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="fechar" onClick="clique(this.id)" >Close</button>
            <button type="button" class="btn btn-primary" id="cadastra">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>

<script>
    var property = document.getElementById('btn11');
    var cartao=''
    var pesquisa=false
    
    function muda(){
        $.ajax({
                    type: "GET",
                    url: "/busca",
                    data: {busca:'sim'},
                    success: function(resposta) {
                        if (resposta!=cartao){
                        cartao=resposta
                        
                        console.log(resposta)
                        document.getElementById('rfid').innerHTML=resposta
                        }
                       
                    }

                });
       
    }
    
    function clique(clicked_id)
        {
            document.location.reload(true);
         }
   
    $(document).ready(function() {
        
        
        $('#revela').hide();
        //$('#modalrespostacadastro').show();
        $("#cpf1").on("input",function(e){
            
            $(this).val(this.value.replace('-', ''));
            $(this).val(this.value.replace('/', ''));
            $(this).val(this.value.replace('_', ''));
                        });
        $("#cpfcadastra").on("input",function(e){
            $(this).val(this.value.replace('-', ''));
            $(this).val(this.value.replace('/', ''));
            $(this).val(this.value.replace('_', ''));
                        });
        $("#deletar2").on('click',function(){

        var deletar= $('input[name=apaga]:checked').val();
        //console.log(deletar);
        //deletar=deletar.split(',')
        //var cpf1=deletar[0];
        //var data1=deletar[1];
        $.ajax({
                    type: "POST",
                    url: "/",
                    data: {deleta:'apaga',codigo:deletar},
                    success: function(resposta) {
                        console.log(resposta)
                        var html="<table border=1px><tr><td></td><td>Nome</td><td>telefone</td><td>cpf</td><td>setor</td></td><td>cargo</td></td><td>codigo</td></td><td>data</td></tr>"
                        for(var i=0;i<resposta.length;i++){
                            html+="<tr><td><input type='radio' name='apaga' value='"+resposta[i][5]+"'>"+"</td><td>"+resposta[i][0]
                            html+="<td>"+resposta[i][1]+"<td>"+resposta[i][2]+"</td><td>"+resposta[i][3]+"</td><td>"+resposta[i][4]+"</td>"
                            html+="<td>"+resposta[i][5]+"</td><td>"+resposta[i][6]+"</td></tr>"
                        }
                        html+="</table>"
                        $("#resultado").html(html);
                        $('#revela').show();
                    }

                });
        });
        $("#atualizar2").on('click',function(){

var deletar= $('input[name=apaga]:checked').val();
var atualizar=$("#codigonovo").val()
var cpf=$("#cpf1").val()
//console.log(deletar);
//deletar=deletar.split(',')
//var cpf1=deletar[0];
//var data1=deletar[1];
$.ajax({
            type: "POST",
            url: "/",
            data: {deleta:'atualiza',codigo:deletar,codigonovo:atualizar,cpf1:cpf},
            success: function(resposta) {
                console.log(resposta)
                var html="<table border=1px><tr><td></td><td>Nome</td><td>telefone</td><td>cpf</td><td>setor</td></td><td>cargo</td></td><td>codigo</td></td><td>data</td></tr>"
                for(var i=0;i<resposta.length;i++){
                    html+="<tr><td><input type='radio' name='apaga' value='"+resposta[i][5]+"'>"+"</td><td>"+resposta[i][0]
                    html+="<td>"+resposta[i][1]+"<td>"+resposta[i][2]+"</td><td>"+resposta[i][3]+"</td><td>"+resposta[i][4]+"</td>"
                    html+="<td>"+resposta[i][5]+"</td><td>"+resposta[i][6]+"</td></tr>"
                }
                html+="</table>"
                $("#resultado").html(html);
                $('#revela').show();
            }

        });
});
        $("#cadastra").on('click',function(){
            //console.log("entrou no cadastra")
            var cpf1 = $("#cpfcadastra").val();
            var nome1 = $("#nome").val();
            var setor1 = $("#setor").val();
            var telefone1 = $("#telefone").val();
            var cargo1=$("#cargo").val();
            var codigo1=$("#codigo").val();
            console.log(cpf1,nome1,setor1,telefone1,cargo1,codigo1);
            $.ajax({
                    type: "POST",
                    url: "/",
                    data: {deleta:'nao',busca:'sim',cpf:cpf1,nome:nome1,setor:setor1,telefone:telefone1,cargo:cargo1,codigo:codigo1},
                    success: function(resposta) {
                        console.log(resposta)
                        var html="";
                        html+=resposta;
                        $("#resultado2").html(html);
                    }

                });

        
        
        });

        
        $("#enviar1").on('click',function(){

            var cpf1 = $("#cpf1").val();
            //console.log(cpf1);
            $.ajax({
                    type: "GET",
                    url: "/",
                    data: {busca:'sim',cpf:cpf1},
                    success: function(resposta) {
                        console.log(resposta)
                        if(resposta=='nada'){
                            $('#modalrespostacadastro').show();
                            console.log('funcao aqui')

                        }
                        else{

                        
                        var html="<table border=1px><tr><td></td><td>Nome</td><td>telefone</td><td>cpf</td><td>setor</td></td><td>cargo</td></td><td>codigo</td></td><td>data</td></tr>"
                        for(var i=0;i<resposta.length;i++){
                            html+="<tr><td><input type='radio' name='apaga' value='"+resposta[i][2]+"'>"+"</td><td>"+resposta[i][0]
                            html+="<td>"+resposta[i][1]+"<td>"+resposta[i][2]+"</td><td>"+resposta[i][3]+"</td><td>"+resposta[i][4]+"</td>"
                            html+="<td>"+resposta[i][5]+"</td><td>"+resposta[i][6]+"</td></tr>"
                        }
                        html+="</table>"
                        $("#resultado").html(html);
                        $('#revela').show();
                    }
                    }

                });


        });

    });
</script>